
~$userData.xlsx
UsersTweets/TajinderBagga.json
UsersTweets/sambitswaraj.json
UsersTweets/nan.json
UsersTweets/BJP4India.json
UsersTweets/BJP4Gujarat.json
UsersTweets/BJP4Delhi.json
UsersTweets/amitmalviya.json
